<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yejh.shop.dao.mapping.StudInfoMapper">
    <resultMap id="studInfoRM" type="org.yejh.shop.entity.StudInfo">
        <id column="sid" property="sId" jdbcType="INTEGER"/>
        <result column="sname" property="sName" jdbcType="VARCHAR"/>
        <result column="snumber" property="sNumber" jdbcType="INTEGER"/>
        <result column="sregister_time" property="sRegisterTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="getStudInfo" resultMap="studInfoRM" parameterType="java.util.HashMap">
        SELECT *
        FROM
        stud_info
        <where>
            <if test="sId != null">
                AND sid = #{sId}
            </if>
        </where>
        ORDER BY sid
        LIMIT #{offset}, #{length}
    </select>

    <insert id="save" parameterType="org.yejh.shop.entity.StudInfo">
        INSERT INTO stud_info(sname, snumber, sregister_time)
        VALUES
        (
        #{sName, jdbcType=VARCHAR}, #{sNumber, jdbcType=INTEGER}, #{sRegisterTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="totalCounts" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
        stud_info
    </select>
</mapper>