<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yejh.shop.dao.mapping.StudInfoMapper">
    <resultMap id="studInfoRM" type="org.yejh.shop.entity.StudInfo">
        <id column="sid" property="sId" jdbcType="INTEGER"/>
        <result column="sname" property="sName" jdbcType="VARCHAR"/>
        <result column="snumber" property="sNumber" jdbcType="INTEGER"/>
        <result column="sregister_time" property="sRegisterTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="getStudInfo" parameterType="java.util.HashMap" resultMap="studInfoRM">
        SELECT *
        FROM
        stud_info
        <where>
            <include refid="where_studInfo"/>
        </where>
        ORDER BY sid
        LIMIT #{offset}, #{length}
    </select>

    <insert id="save" parameterType="org.yejh.shop.entity.StudInfo">
        INSERT INTO stud_info(sname, snumber, sregister_time)
        VALUES
        (
        #{sName, jdbcType=VARCHAR}, #{sNumber, jdbcType=INTEGER}, #{sRegisterTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="totalCounts" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM
        stud_info
        <where>
            <include refid="where_studInfo"/>
        </where>
    </select>

    <update id="updateLocation" parameterType="java.util.HashMap">
        UPDATE stud_info
        SET
        province_postcode = #{location.provincePostCode}, province_name = #{location.provinceName},
        city_postcode = #{location.cityPostCode}, city_name = #{location.cityName},
        area_postcode = #{location.areaPostCode}, area_name = #{location.areaName},
        update_time = NOW()
        <where>
            <choose>
                <when test="sId != null and sId != ''">
                    AND sid = #{sId}
                </when>
                <otherwise>
                    AND sid IS NULL
                </otherwise>
            </choose>
        </where>
    </update>

    <sql id="where_studInfo">
        <if test="studInfo.sId != null and studInfo.sId != ''">
            AND sid = #{studInfo.sId}
        </if>
        <if test="studInfo.sName != null and studInfo.sName != ''">
            AND sName LIKE CONCAT('%', #{studInfo.sName}, '%')
        </if>
        <if test="studInfo.sNumber != null and studInfo.sNumber != ''">
            AND sNumber LIKE CONCAT('%', #{studInfo.sNumber}, '%')
        </if>
        <if test="studInfo.sRegisterTimeBegin != null and studInfo.sRegisterTimeEnd != null">
            AND sregister_time BETWEEN #{studInfo.sRegisterTimeBegin} AND DATE_ADD(#{studInfo.sRegisterTimeEnd},
            INTERVAL 1 DAY)
        </if>
    </sql>
</mapper>